title: SN Family Official
email: kuchuxnathkhircathamixakhrab@gmail.com
description: >-
  ศูนย์รวมบทความไอที เกมเสียงเพื่อผู้พิการทางสายตา นิยาย และผลงานดนตรี AI จากทีมงาน SN Family สร้างสรรค์โดย Nuttawat Seecham
twitter_username: SNFamily29
github_username: nuttawat-arch
minimal_mistakes_skin: default
search: true
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: Asia/Bangkok
include:
  - _pages
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
author:
  name: Nuttawat Seecham
  avatar: /assets/images/bio-photo.jpg
  bio: Creator of SN Family | Audio Games & AI Music Enthusiast
  links:
    - label: Website
      icon: fas fa-fw fa-link
      url: https://nuttawat-arch.github.io
footer:
  links:
    - label: GitHub
      icon: fab fa-fw fa-github
      url: https://github.com/nuttawat-arch
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
